<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>DDS | Station service des Alpes</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../static/css/bootstrap.css'/>
    <link rel='stylesheet' href='../static/css/common.css' />
    <link rel='stylesheet' href='../static/css/index.css' />
</head>
<body>
<div class="jumbotron main">
    <div class="jumbotron body">
        <div class="title">
            <h1 class="text-center">Bienvenue à la<br /><span class="text-success">DDS | Station service des Alpes</span></h1>
            <h2 class="text-center">Le carrefour des Savoies pour tous vos carburants</h2>
        </div>

        <div class="buttons">
            <a href="/payment" class="btn btn-primary btn-lg button">Effectuer un paiement</a>
            <a href="/pump" class="btn btn-primary btn-lg button">Pomper du carburant</a>
        </div>
    </div>
    <footer>
        © DDS | Station service des Alpes 2023, tous droits réservés
    </footer>
</div>
</body>
</html>
