<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>payment</title>
    <script src="../static/css/style.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form>
        <input type="test" id="test_ID" name="test" placeholder="test" required><br><br>
        <button id="submit">submit</button>
      </form>
      <script type="text/javascript" src="../static/js/payment.js"></script>


</body>
</html>