<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>DDS | Station service des Alpes</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../static/css/bootstrap.css'/>
    <link rel='stylesheet' href='../static/css/common.css'/>
    <link rel='stylesheet' href='../static/css/payment.css'/>
</head>
<body onload="start()">
<div class="jumbotron main">
    <div class="jumbotron body">
        <a href='/' class='return-button'><img src='/images/return.svg' alt='←'/> Retour à l'accueil</a>

        <h1 class="text-center">Effectuer un paiement</h1>
        <h4 class="text-center text-info"><em>Cette fonctionnalité est en cours de développement. Veuillez repasser plus tard.</em></h4>

        <form action='/payment/action' method='post'>
            <div class='span-columns fuels'>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SP95" value="SP95" checked>
                    <label class="form-check-label" for="SP95">SP95</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SP98" value="SP98">
                    <label class="form-check-label" for="SP98">SP98</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SP95-E10" value="SP95-E10">
                    <label class="form-check-label" for="SP95-E10">SP95-E10</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Gazole" value="Gazole">
                    <label class="form-check-label" for="Gazole">Gazole</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="E85" value="E85">
                    <label class="form-check-label" for="E85">E85</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="GPL" value="GPL">
                    <label class="form-check-label" for="GPL">GPL</label>
                </div>

            </div>

            <div>
                <label for='amount' class='form-label'>Montant</label>
                <input
                        id='amount'
                        type='number'
                        name='amount'
                        min="50"
                        value="50"
                        placeholder='Minimum 50€'
                        class='form-control'
                />
            </div>

            <div>
                <label for='volume' class='form-label'>Quantité</label>
                <input
                        id='volume'
                        type='number'
                        name='volume'
                        class='form-control'
                        readonly
                />
            </div>

            <input
                    type='submit'
                    value='Valider le paiement'
                    class='btn btn-primary span-columns'
                    style='margin: 0 10em;'
            />
        </form>
    </div>
    <footer>
        © DDS | Station service des Alpes 2023, tous droits réservés
    </footer>
</div>
</body>
<script>
    function start() {
        let msg = "{{ message }}";
        if (msg !== "") {
            alert(msg);
        }
        refresh();
    }
    function request(url, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", url);
        xhr.send();
        xhr.responseType = "json";
        xhr.onload = () => {
            if (xhr.readyState == 4 && xhr.status == 200) {
                const data = xhr.response;
                callback(data);
            } else {
                console.log(`Error: ${xhr.status}`);
            }
        };
    }

    function refresh(){
        let carburant = ""
        if(document.getElementById("SP95").checked){
            carburant = "SP95"
        }else if(document.getElementById("SP98").checked){
            carburant = "SP98"
        }else if(document.getElementById("SP95-E10").checked){
            carburant = "SP95-E10"
        }else if(document.getElementById("Gazole").checked){
            carburant = "Gazole"
        }else if(document.getElementById("E85").checked){
            carburant = "E85"
        }else if(document.getElementById("GPL").checked){
            carburant = "GPL"
        }


        request('/payment/prediction?amount='+document.getElementById("amount").value+"&carburant="+carburant, (data)=>{
            document.getElementById("volume").value = data.value;
        })
        
    }

    document.addEventListener("keyup", function (event) {
        refresh()

    });
    document.addEventListener("click", function (event) {
        refresh()

    });

    
</script>
</html>


